<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CK.Mon2Htm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CkmonApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <CK.Mon2Htm.Properties.Settings>
            <setting name="LastOpenDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="MonitorDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSelectNewFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefreshPages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntriesPerPage" serializeAs="String">
                <value>500</value>
            </setting>
        </CK.Mon2Htm.Properties.Settings>
        <CkmonApp.Properties.Settings>
            <setting name="LastOpenDirectory" serializeAs="String">
                <value/>
            </setting>
        </CkmonApp.Properties.Settings>
    </userSettings>
</configuration>
