
bin/
obj/
Output/
Tests/CK.Monitoring.Tests/TestFolder/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/packages/
CK-Core.Tests.VisualState.xml
*.nuspec
*.nupkg
Tests/CK.Core.Tests/TestDir/
net40/Tests/CK.Core.Tests/TestDir/
net40/Tests/CK.Monitoring.Tests/TestDir/
Tests/CK.Monitoring.Tests/TestDir/
