<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docfx.msbuild" version="1.8.1" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="msdn.4.5.2" version="0.1.0-alpha-1604281727" targetFramework="net451" />
</packages>